:root {
  --height-of-app: 100lvh;
  --width-of-app: 100lvw;
  --min-height-of-game: 500px;
  --height-of-game: calc(min(var(--height-of-app), 100svh) * 0.95);
  --abs-height-of-game: max(var(--height-of-game), var(--min-height-of-game));

  --width-of-game: min(var(--abs-height-of-game), var(--width-of-app) * 0.85);

  --un: calc(
    (
        max(var(--abs-height-of-game), var(--width-of-game)) * 0.25 +
          min(var(--abs-height-of-game), var(--width-of-game)) * 0.75
      ) * 0.01
  );

  --border-width: 3px;
  --min-font-size: 8px;

  font-size: max(
    (var(--un) * 3.2) * 0.7 + 0.3 * var(--min-font-size),
    var(--min-font-size)
  );
}

/* --min-height-of-game * 0.85 */
@media (max-width: 425px) {
  :root {
    --border-width: 2px;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

#app {
  background-color: transparent;
}

#holder {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-of-app);
  height: var(--height-of-app);
  padding: 0 calc(var(--width-of-app) * 0.025);
  overflow-x: hidden;
  overflow-y: auto;
}

#game {
  width: var(--width-of-game);
  height: fit-content;
  margin: max((var(--height-of-app) - var(--abs-height-of-game)) / 2, 10px) 0;
  border-radius: calc(var(--width-of-game) * 0.1);
  padding: calc(var(--width-of-game) * 0.05);
}

.no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.light-font-1 {
  color: black;
}

.light-font-bad-1 {
  color: rgb(171, 0, 0);
}

.light-bg-1 {
  background-color: rgb(229, 197, 160);
}

.light-bg-2 {
  background-color: rgb(225, 141, 57);
}

.light-bg-3 {
  background-color: rgb(232, 152, 73);
}

.light-border-1 {
  border: var(--border-width) solid black;
}

.light-button-1 {
  color: black;
  background-color: rgb(229, 197, 160);
  border: var(--border-width) solid black;
}

.light-button-2 {
  color: black;
  background-color: rgb(232, 180, 66);
  border: var(--border-width) solid black;
}
.light-button-2-theme {
  color: rgb(232, 220, 217);
  background-color: rgb(77, 19, 82);
  border: var(--border-width) solid black;
}

.light-button-shop-1 {
  color: black;
  background-color: rgb(229, 197, 160);
  border: var(--border-width) solid black;
}

.light-button-shop-2 {
  color: black;
  background-color: rgb(162, 234, 80);
  border: var(--border-width) solid black;
}

.light-shop-hover {
  background-color: rgb(252, 214, 170);
  color: black;
}

.light-progress-empty {
  background-color: whitesmoke;
  border: 1px solid rgb(93, 44, 0);
}

.light-progress-bar {
  background-color: rgb(227, 173, 39);
}

.light-progress-circle {
  background-color: rgb(247, 239, 218);
  border: 1px solid rgb(110, 110, 107);
}

.light-stats-hover {
  background-color: rgb(231, 213, 110);
  color: black;
}

.dark-font-1 {
  color: rgb(232, 220, 217);
}

.dark-font-bad-1 {
  color: rgb(200, 25, 45);
}

.dark-bg-1 {
  background-color: rgb(37, 23, 47);
}

.dark-bg-2 {
  background-color: rgb(64, 39, 80);
}

.dark-bg-3 {
  background-color: rgb(77, 49, 95);
}

.dark-border-1 {
  border: var(--border-width) solid rgb(147, 130, 140);
}

.dark-button-1 {
  color: rgb(232, 220, 217);
  background-color: rgb(37, 23, 47);
  border: var(--border-width) solid rgb(147, 130, 140);
}

.dark-button-2 {
  color: rgb(232, 220, 217);
  background-color: rgb(77, 19, 82);
  border: var(--border-width) solid rgb(147, 130, 140);
}
.dark-button-2-theme {
  color: black;
  background-color: rgb(232, 180, 66);
  border: var(--border-width) solid rgb(147, 130, 140);
}

.dark-button-shop-1 {
  color: rgb(232, 220, 217);
  background-color: rgb(37, 23, 47);
  border: var(--border-width) solid rgb(147, 130, 140);
}

.dark-button-shop-2 {
  color: rgb(232, 220, 217);
  background-color: rgb(103, 42, 147);
  border: var(--border-width) solid rgb(147, 130, 140);
}

.dark-shop-hover {
  color: rgb(232, 220, 217);
  background-color: rgb(34, 16, 44);
}

.dark-progress-empty {
  background-color: rgb(79, 12, 156);
  border: 1px solid rgb(203, 152, 223);
}

.dark-progress-bar {
  background-color: rgb(145, 72, 180);
}

.dark-progress-circle {
  background-color: rgb(62, 17, 105);
  border: 1px solid rgb(238, 162, 249);
}

.dark-stats-hover {
  background-color: rgb(79, 12, 156);
  color: rgb(232, 220, 217);
}
